@import 'ubuntu.css';
@import 'bootstrap/less/bootstrap.less';

/* =Typography rules
-----------------------------------------------------------------------------*/
.link-label() { font-size:1em; line-height: 1.3em; font-weight: bold; text-transform: uppercase; }
.link-label-small() { font-size:.75em; line-height: 1.3em; font-weight: bold; text-transform: uppercase; }
.question  { font-weight:300; font-style: italic; &:before{ content:"“"; } &:after{ content:"”"; } }
.name      { font-weight:400; text-align: right; }
.date      { font-weight:400; text-align: right; }
.to        { font-weight:300; text-align: center; small { font-weight:400; } }
.moutonnez { text-align: center; }


/* =Typography
-----------------------------------------------------------------------------*/
#the-nav
{
  padding: 0;
  .nav { padding: 0; }
  .navbar-header { text-align: center;
    & > li > a { .link-label; color: #333; }
  }
}

#the-message
{
  clear: both;
  text-align: center;// .box-shadow( 0 0 9px @gray-light );
  background-color: @brand-warning;
  color:@btn-warning-color;
  padding: 2*@grid-gutter-width;
  h2 { margin-top: 0; }
}

#the-filter
{
  h2 { .link-label; }
  ul li { display: block; }
  ul li a { .link-label-small; color: #333; .myglyphicon;
    &.active { .glyphicon-record; }
    &.active:hover { .glyphicon-minus-sign; }
    &:not(.active):not(:hover) { &:before { content:""; width: 1em; height: 1em; border:2px solid #333; border-radius:1em; } }
    &:not(.active):hover { .glyphicon-plus-sign; }
  }
}

#the-content
{
  .question-card .in
  {
    h1, .h1 { font-size: @font-size-h1*.6; }
    h2, .h2 { font-size: @font-size-base; }
    h3, .h3 { font-size: @font-size-h1*.6; line-height:1em; small { font-size: @font-size-base; color:inherit; } }
    h4, .h4 { font-size: @font-size-base; }
    h5, .h5 { font-size: @font-size-base; }
    h6, .h6 { font-size: @font-size-base; }
  }
}

#the-footer
{
  text-align: center;
}

span { letter-spacing: -.16em; margin-right: .16em!important; }
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.btn {
  span { letter-spacing: -.19em; margin-right: .18em!important; }
}



/* =Display
-----------------------------------------------------------------------------*/
body { margin:5% 5% 0 5%; overflow-x: hidden; }

#the-header
{
  padding: 0;
  h1 { margin:0; width: 50%; }
  h1 img { display:block; width:105%; height: auto; margin-left: -8px; }
}

#the-nav
{
  background-color: transparent; border:0px none;
  .navbar-header > li { padding:0; }
  .navbar-header > li > a { }
  .navbar-nav {
    white-space: nowrap; margin-top: 1.45em;

    li.col-md-1 { padding-left: 0; }
    li.col-md-quater { width: 25%; }
    .input-group-sm > *, .input-group-sm button { height: 25px; }
    .input-group {
      overflow: hidden; position: relative;
      input { position: relative; left:100%; .transition(all .2s ease-in-out); }
      &:hover input { left: 0; }
      button .glyphicon { top:-1px; }
    }
  }
}

#the-message
{
  &.alert-dismissable .close { top: -27px; }
}


#the-filter
{
  h2 { margin:0; }
}

#the-content
{
  & > div:first-child { padding-left: 0; }
  & > div:last-child  { padding: 0; }

  #the-filter ul { padding: 0; }

  .question-card
  {
    margin-bottom: @grid-gutter-width;

    .in
    {
      position:relative; height: 430px; overflow: hidden;
      padding:@grid-gutter-width;
      background-color: @body-bg; .box-shadow( 0 0 9px @gray-light ); border-radius:0;

      * { margin:0; }
      section { position: absolute; right:@grid-gutter-width; bottom:@grid-gutter-width; left:@grid-gutter-width; }

      .to { border:1px solid @gray-light; border-width:1px 0; padding:@grid-gutter-width 0; margin:@grid-gutter-width 0; }
      .date { margin-top:5px; }
    }
  }
}

#the-footer
{
  background-color: #101326; color:white;
  padding:@grid-gutter-width*5; margin:@grid-gutter-width*5 -6% 0 -6%;
  ul { float: none; display: inline-block; margin:0 auto 1em auto; padding:0; }
}

/* =OVERIDE AND EXTEND BOOTSTRAP
-----------------------------------------------------------------------------*/

// EXTEND
// ==================================================
// Alternate buttons
// --------------------------------------------------
.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}
.btn-tertiary {
  .button-variant(@btn-tertiary-color; @btn-tertiary-bg; @btn-tertiary-border);
}

// OVERIDE original function
// ==================================================
.make-grid(@index, @class, @type) when (@index >= 0) {
  .make-grid-in(@index, @index, @class, @type);
}
.calc-grid-in(@index, @index2, @class, @type) when (@type = width) and (@index > 0) and (@index2 > 0) {
  .col-@{class}-@{index} > .col-@{class}-@{index2} {
    width: percentage((@index2 / @index));/*BEAM*/
  }
}
.make-grid-in(@index, @index2, @class, @type) when (@index2 >= 0) {
  .calc-grid-in(@index, @index2, @class, @type);
  // next iteration
  .make-grid-in(@index, (@index2 - 1), @class, @type);
}
.myglyphicon() {
  &:before{
    position: relative;
    top: 1px;
    margin-right:3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* =Dév.
-----------------------------------------------------------------------------*/
#the-grid-layout
{
  // display: none;
  section
  { position: fixed; z-index:-1; top:0; right:5%; bottom: 0; left:5%;
    div { height:100%; position:relative; box-shadow: 0 1px 1px #000; }
    div:after { content:""; display: block; position: absolute; top:0; right:15px; bottom: 0; left:15px; }
  }
  section:first-child{
    div:after { background-color: #eee; }//rgba(0,0,0,.1); }
  }
  section:last-child{
    div:after { background-color: #eee; }//rgba(0,0,0,.1); }
  }
}