/* Condensed */
@font-face {
    font-family: 'ubuntu_condensed';
    src: url('fonts/ubuntu-c.eot');
    src: url('fonts/ubuntu-c.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-c.woff') format('woff'),
         url('fonts/ubuntu-c.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Light 300 */
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-l.eot');
    src: url('fonts/ubuntu-l.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-l.woff') format('woff'),
         url('fonts/ubuntu-l.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-li.eot');
    src: url('fonts/ubuntu-li.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-li.woff') format('woff'),
         url('fonts/ubuntu-li.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Normal 400 */
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-r.eot');
    src: url('fonts/ubuntu-r.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-r.woff') format('woff'),
         url('fonts/ubuntu-r.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-ri.eot');
    src: url('fonts/ubuntu-ri.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-ri.woff') format('woff'),
         url('fonts/ubuntu-ri.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Medium 500 */
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-m.eot');
    src: url('fonts/ubuntu-m.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-m.woff') format('woff'),
         url('fonts/ubuntu-m.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-mi.eot');
    src: url('fonts/ubuntu-mi.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-mi.woff') format('woff'),
         url('fonts/ubuntu-mi.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Bold 700 */
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-b.eot');
    src: url('fonts/ubuntu-b.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-b.woff') format('woff'),
         url('fonts/ubuntu-b.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-bi.eot');
    src: url('fonts/ubuntu-bi.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-bi.woff') format('woff'),
         url('fonts/ubuntu-bi.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}